# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# IDEs
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo

# OS files
.DS_Store
Thumbs.db

# Unity packages & large files
*.apk
*.unitypackage
*.dll
*.so
*.dylib

# Git
.git/
